<div width=900px align='center'>
<h1>게시판</h1>
<form action="blog/create">
   <input type="text" name="p_title" placeholder="제목"><br><br>
   <textarea name="p_content"></textarea><br><br>
   <input type="submit"> <br><br>
</form>
<% @posts.each do |p| %>
<li><%=p.title%> : 
    <%=p.content%>
    <a href="/blog/destroy?id=<%=p.id%>">삭제</a>
    <a href="/blog/edit?id=<%=p.id%>">수정</a>
    <%=form_tag '/comment' do%>
        <input type = "hidden" name = "blog_id" value = "<%=p.id%>"
        <input type = "text"name = "comment">
        <input type = "submit"value = "확인">
    <%end%>
</li>
<%end%>
</div>